.container {
  width: 90%; /* 1152px = 72em */
  max-width: 80em; /* 1280px */
  margin: 0 auto;
}

.mobile {
  display: none;
}
.desktop {
  display: block;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: MuseoSans-500;
}
h1, h2, h3 {
  text-transform: uppercase;
}

/* Traditional, em */
body { font-size:100%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.5em; padding:1.45833em 0; }
h2 { font-size:1.33333em; padding:1.25em 0; }
h3 { font-size:1.16667em; padding:1.51785em 0; }

h1.large {
  font-size: 3em;
}


img {
  max-width: 100%;
  height: auto;
}
img.teachers {
  width: 100px;
  height: 100px;
}
img.certificates, #pro img {
  max-width: 150px;
  max-height: 100px;
}



/* Header 
*/

#header {
  margin-bottom: 2.5em;
}
#header h1 {
  padding-bottom: 0;
}
#header h3 {
  padding: 0;
}
#header #menu {
  position: relative;
  top: 2.5em;
}
#header .col-1 {
  width: 20%;
}

#menu ul li {
  margin-right: .625em;
}
#menu ul li.last {
  margin-right: 0;
}




/* Index
*/


#index #intro .col-1, #index #intro .col-3 {
  width: 20%;
  float: left;
}
#index #intro .col-2 {
  width: 56%;
  margin: 0 2%;
  float: left;
  text-align: center;
}
#index #intro .col-3 {
  width: 20%;
  float: left;
}

#index #intro #teacher ul.inline-list li.name {
  margin: 0 1.25em;
  width: 100px;
  position: relative;
  top: -2.5em;
}





#index #features {
  margin-top: 2.5em;
}
#index #features .col {
  width: 30%;
  margin-right: 5%;
  float: left;
}
#index #features .col-3 {
  margin-right: 0%;
}

#index #features table {
  margin-bottom: 0;
}
#index #features table td {
  vertical-align: top;
  padding: .625em;
  vertical-align: middle;
  height: 150px;
}

#index #features #excerpt {
  padding: 1.25em;
  height: 3.75em;
}
#index #features .triangle-top {
  border-width: 25px;
  top: -1.4em;
}
#index #features .col-1 .triangle-top {
  left: 10%;
}
#index #features .col-2 .triangle-top {
  left: 40%;
}
#index #features .col-3 .triangle-top {
  left: 60%;
}


#index #features #follow ul {
  margin-top: 0;
}
#index #features #follow ul.normal li {
  display: block;
}


#index #features #fun {
  margin: 2.5em 0;
  text-align: center;
}
#index #features #fun h1 {
  padding: 0;
}



#index #cert table td {
  vertical-align: middle;
}





/* Features
*/

.page .col-1 {
  width: 20%;
  float: left;
}
.page .col-2 {
  width: 75%;
  float: left;
  margin-left: 5%;
}




/* Item
*/

#item .col-1 {
  width: 30%;
  float: left;
}
#item .col-2 {
  width: 65%;
  margin-left: 5%;
  float: left;
}




/* Footer 
*/

#footer {
  margin: 2.5em 0;
}



