body {
  background: url("/images/blue_cityscape.png") no-repeat scroll center top #358EE2;
  color: #EFECCA;
}


#index #video h1.large {
  background: #EEC939;
}
#index #video .col-3 {
  background: #EC902C;
}


#index #intro .col-1 {
  background: #55ACFF;
}
#index #intro .col-2 {
  background: #8B951C;
}
#index #intro .col-3 {
  background: #955F05;
}
