---
layout: default
---

#index 
  #intro.block
    .col-1 
      %h1.large
        Learn
        %br 
        English
        %br 
        Online
        
    .col-2
      %h1
        with Real People
      #info
        {% for teacher in site.categories.teachers %}
        #teacher
          %ul.inline-list
            %li.irl
              %img{:src => "{{teacher.irl}}", :class => 'avatar', :title => "{{ teacher.name }}" }  
            %li.name
              {{ teacher.name }}
              %br
              {{ teacher.country }}
            %li.avatar
              %img{:src => "{{teacher.avatar}}", :class => 'avatar', :title => "{{ teacher.name }}"  }                        
        {% endfor %}
        
    .col-3
      %h1
        in a Virtual 3D City
      #info
        /
          %iframe{:width => 425, :height => 349, :src => "http://www.youtube.com/embed/U9Pgd0YpOoo", :frameborder => "0" }
        #more
          %a{:href => "http://www.youtube.com/user/languagelabdotcom", :target => "_blank", :title => "More videos on Youtube"} See more videos 
  
  #features.block
    %table
      %tr
        %td.col-1
          %h1.large
            24/7
        %td.col-2
          %h4
            Levels
          %ul
            %li Beginner
            %li Intermediate
            %li Advanced
            %li Refreshing
        %td.col-3
          %h1.large
            70 Countries
      %tr
        %td.col-1
          %table
            %tr
              %td
                %img{:src => '/images/home.jpg'}
              %td
                %img{:src => '/images/tram.jpg'}
        %td.col-2
          %h4
            Study Purpose
          %ul
            %li General
            %li Business
            %li British English
            %li American English
            %li Exam preparation
        %td.col-3
          %h1.large 
            6 students / 1 hour
      %tr
        %td.col-1
          %table
            %tr
              %td
                %img{:src => '/images/pc.jpg'}
              %td
                %img{:src => '/images/headphone.jpg'}
        %td.col-2  
          %h4
            Topics         
          %ul
            %li Culture
            %li Leisure
            %li Travel
            %li Health
        %td.col-3
          %table
            %tr
              %td
                %img{:src => '/images/see.jpg'}
              %td
                %img{:src => '/images/listen.jpg'}

  #cert.block
    %table
      %tr
        %td
          %img{:src => '/images/ielts.jpg'}
        %td
          %img{:src => '/images/toefl.png'}
        %td
          %img{:src => '/images/esol.jpg'}
        %td
          %img{:src => '/images/toles.jpg'}
        %td
          %img{:src => '/images/lcci.jpg'}
        %td
          %img{:src => '/images/bulats.jpg'}
          
