---
layout: default
---

#index 
  #intro.block
    .col-1 
      %h1.large
        Learn
        %br 
        English
        %br 
        Online
        
    .col-2
      %h1
        with Real People
      #info
        {% for teacher in site.categories.teachers %}
        #teacher
          %ul.inline-list
            %li.irl
              %img{:src => "{{teacher.irl}}", :class => 'avatar', :title => "{{ teacher.name }}" }  
            %li.name
              {{ teacher.name }}
              %br
              {{ teacher.country }}
            %li.avatar
              %img{:src => "{{teacher.avatar}}", :class => 'avatar', :title => "{{ teacher.name }}"  }                        
        {% endfor %}
        
    .col-3
      %h1
        in a Virtual 3D City
      #info
        %iframe{:width => 425, :height => 349, :src => "http://www.youtube.com/embed/U9Pgd0YpOoo", :frameborder => "0" }
        #more
          %a{:href => "http://www.youtube.com/user/languagelabdotcom", :target => "_blank", :title => "More videos on Youtube"} See more videos 
  
  #features.block
    .col-1
      #twenty
        %h1.large
          24/7
      #home
        %table
          %tr
            %td
              %img{:src => '/images/home.jpg'}
            %td
              %img{:src => '/images/tram.jpg'}
      #laptop
        %table
          %tr
            %td
              %img{:src => '/images/pc.jpg'}
            %td
              %img{:src => '/images/headphone.jpg'}
                  
    .col-2
      #levels
        %ul
          %li Beginner
          %li Intermediate
          %li Advanced
          %li Refreshing
      #types
        %ul
          %li General
          %li Business
          %li British English
          %li American English
      #scenarios
        %ul
          %li Culture
          %li Leisure
          %li Travel
          %li Health
    .col-3
      #countries
        %h1.large
          70 Countries
      #classes
        %h1.large 
          6 students / 1 hour
      #method
        %table
          %tr
            %td
              %img{:src => '/images/see.jpg'}
            %td
              %img{:src => '/images/listen.jpg'}
          
