---
layout: default
---

#index 
  #video.block
    .col-1 
      %h1.large
        Learn
        %br 
        English
        %br 
        Online       
    .col-2
      /
        %iframe{:width => 640, :height => 510, :src => "http://www.youtube.com/embed/U9Pgd0YpOoo", :frameborder => "0" }
      %img{:src => '/images/video_old.png' }
    .col-3      
      {% for teacher in site.categories.teachers reversed limit:3 %}
      %div{:id => 'teacher', :class => "item-{{ forloop.index }}"}
        %table
          %tr
            %td
              %img{:src => "{{ teacher.images[0].url }}", :class => 'teachers', :title => "{{ teacher.name }}"}                        
            %td
              %img{:src => "{{ teacher.images[1].url }}", :class => 'teachers', :title => "{{ teacher.name }}"}                        
            %td.name
              {{ teacher.title }}
              %br
              %span.country {{ teacher.country }}            
            
      {% endfor %}
  
  #intro.block
    .col-1
      %h1.real
        with Real People
      %h1.virtual
        in a Virtual City 
    .col-2
    {% for c in site.categories.fun limit:1 %}
      %h1
        {{ c.short }}
    {% endfor %} 
    .col-3
    {% for c in site.categories.fun limit:1 offset:1 %}
      %h1
        {{ c.short }}
    {% endfor %}
        
  #features.block
    .col-1
      %h1.large
        How it Works?
    .col-2      
      #items
        {% for c in site.categories.comfortable reversed %}       
        #item{:class => "c-{{ forloop.index }}"}
          %table.inner
            %tr
              {% for i in c.images %}
              %td
                %img{:src => "{{ i.url }}", :alt => 'aaa'}
              {% endfor %}
          %div{:class => 'triangle triangle-top'}
          #excerpt
            {{ c.excerpt }}
        {% endfor %}
  
  #courses.block
    .col-1
      %h1.large
        What you'll learn?
    .col-2
      #items
        {% for c in site.categories.follow-your-interests reversed %}
        #item{:class => "c-{{ forloop.index }}"}
          %h3
            {{ c.short }}
          %ul.normal
            {% for l in c.list %}
            %li {{ l | capitalize }}
            {% endfor %}
        {% endfor %}
       
    
  #certs.block
    .col-1
      %h1.large
        What You'll Get?
    .col-2
      /
        %table
          %tr
            {% for cert in site.categories.certificates reversed %}
            %td
              %img{:src => "{{ cert.images[0].url }}", :class => 'certificates'}
            {% endfor %}
          
