<div id="sidebar"  class="col-1">
  <h4>Cum functioneaza?</h4>
  <ul>
    <li><a href="">Inscriere</a></li>
    <li><a href="/teachers">Profesori</a></li>
    <li><a href="">Cursuri</a></li>
    <li><a href="">Colegi</a></li>
    <li><a href="">Scoala virtuala</a></li>
    <li><a href="">Cerinte technice</a></li>    
  </ul>
  
  <h4>Pentru cine?</h4>
  <ul>
    {% for l in site.categories.follow-your-interests reversed %}
    <li><a href="">{{ l.short }}</a></li>
    {% endfor %}
  </ul>
  
  <h4>Rezultate, certificate</h4>
  <ul>
    {% for l in site.categories.certificates reversed %}
    <li><a href="">{{ l.short }}</a></li>
    {% endfor %}
  </ul>
</div>
