---
layout: post
categories: 
  - fun
title: Speak and listen instead of read and write
images:
  - url: /images/see.jpg
  - url: /images/listen.jpg 
excerpt: You can learn anywhere you want
---
With Scrol we tried to create a Shopify theme displaying as much information as possible on frontpage.

Like latest products, products on sale, shop & shopping information, product categories, vendors and types ... and so on.

Such antre should generate high impact on first-time visitors, and in return, 
regular customers would immediately catch up with the latest news with the store.

