---
layout: page
categories: 
  - teachers
title: Cristina Palomeque
experience: 4
education: English, Education
country: Spain
avatar: /images/cristina_sl.jpg
irl: /images/cristina_rl.jpg
---
Cristina is presently working on her doctoral dissertation on Computer Assisted Language Learning.
