---
categories: 
  - teachers
name: Sally Langer
experience: 8
education: Humanity
country: Australia
avatar: /images/sally_sl.jpg
irl: /images/sally_rl.jpg
---
Sally has the Diploma of Education (Secondary), the Cambridge RSA/CELTA, and a Bachelor's of Arts (Humanity). She has taught in Mexico, Japan and Australia.
