---
layout: page
categories: 
  - comfortable
title: You need only internet and headphones
excerpt: You need only internet and headphones, that's all
images:
  - url: /images/pc.jpg
  - url: /images/headphone.jpg
---
