---
layout: page
categories: 
  - teachers
title: Claire Hubbert
experience: 10
education: Commercial Property
country: Australia
avatar: /images/jazz_sl.png
irl: /images/jazz_rl.png
---
Claire is an English Language teacher at Languagelab and also at a Language College in Australia. Her qualifications include the CELTA qualification and a Degree in Commercial Property. She specialises in teaching Business English, TOEIC and IELTS.

Claire is a qualified UK Chartered Surveyor (RICS) and an Australian property valuer with 22 years of international business experience. During that time Claire has held various positions including Associate Partner and subsidiary Company Director as well as a part-time lecturer at Auckland University. 
