---
layout: post
categories: 
  - fun
title: Schoolmates from over 70 countries in the world
short: With Students From More Than 70 Countries
excerpt: Article summary goes here ...
---
Article body goes here ...
