---
layout: page
categories: 
  - teachers
title: Chris Speck
experience: 12
education: Philosophy, History, Linguistics
country: UK
avatar: /images/chris_sl.jpg
irl: /images/chris_rl.jpg
---
Chris has been teaching English since 1996, in countries as varied as the UK, Spain, and Papua New Guinea. Chris is also a writer and as well as writing lessons and materials for teachers he has also written for newspapers, websites, radio shows and writes novels in his spare time.
