---
layout: teacher
categories: 
  - teachers
title: Dafne Gonzalez
experience: 30
education: Applied Linguistics, Education
country: Venezuela
images:
  - url: /images/daf_sl.jpg
  - url: /images/daf_rl.jpg
---
Since 2002, Dafne has been teaching blended and online courses. She is the coordinator of the TESOL Electronic Village Online, and has co-moderated the Becoming a Webhead (BaW) online Workshop since 2004.

