---
layout: default
title: Features
---

<div id="features" class="page">
  {% include sidebar.html %}
  
  <div id="main" class="col-2">
    <div id="comfortable" class="section block">
      <h1 class="large block link">
        <div class="circle"><span class="number">1</span></div>
        <div class="title">Comfortable</div>
      </h1>
      <div id="items">
        {% for item in site.categories.comfortable %}
          {% include item.html %}
        {% endfor %}
      </div>
    </div>
    
    <div id="follow" class="section block">
      <h1 class="large block link">
        <div class="circle"><span class="number">2</span></div>
        <div class="title">Follow Your Interests</div>
      </h1>
      <div id="items" class="hidden">
        {% for item in site.categories.follow-your-interests reversed %}
          {% include item.html %}
        {% endfor %}
      </div>
    </div>
    
    <div id="fun" class="section block">
      <h1 class="large block link">
        <div class="circle"><span class="number">3</span></div>
        <div class="title">Have Fun</div>
      </h1>
      <div id="items" class="hidden">
        {% for item in site.categories.fun reversed %}
          {% include item.html %}
        {% endfor %}
      </div>
    </div>
    
    <div id="pro" class="section block">
      <h1 class="large block link">
        <div class="circle"><span class="number">4</span></div>
        <div class="title">Be Professional</div>
      </h1>
      <div id="items" class="hidden">
        {% for item in site.categories.certificates reversed %}
          {% include item.html %}
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>
