---
layout: default
title: Features
---

<div id="features" class="page">
  {% include sidebar.html %}
  
  <div id="main" class="col-2">
    <div id="comfortable">
      <h2><span class="circle">1</span>Comfortable</h2>
      <div id="items">
        {% for item in site.categories.comfortable %}
          {% include item.html %}
        {% endfor %}
      </div>
    </div>
    
    <div id="follow">
      <h2><span class="circle">2</span>Follow Your Interests</h2>
      <div id="items">
        {% for item in site.categories.follow-your-interests reversed %}
          {% include item.html %}
        {% endfor %}
      </div>
    </div>
    
    <div id="fun">
      <h2><span class="circle">3</span>Have Fun !</h2>
      <div id="items">
        {% for item in site.categories.fun reversed %}
          {% include item.html %}
        {% endfor %}
      </div>
    </div>
    
    <div id="pro">
      <h2><span class="circle">4</span>Be Professional</h2>
      <div id="items">
        {% for item in site.categories.certificates reversed %}
          {% include item.html %}
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>
