---
layout: default
---

<div id="features" class="page">
  {% include sidebar.html %}
  
  <div id="main" class="col-2"> 
    <h1 class="large block link">
      <div class="title">{{ page.title }}</div>
    </h1> 
     
    <div id="teacher" class="block">
      <div class="col-1">
        <ul>
          {% for image in page.images %}
            <li><img src="{{ image.url }}" /></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-2">
        <ul>
          <li>Experience: {{ page.experience }} years</li>
          <li>Education: {{ page.education }}</li>
          <li>Country: {{ page.country }}</li>
        </ul>
        <div class="triangle triangle-top"></div>
        <div id="excerpt">
          {{ content }}
        </div>
        {% include more.html %}
      </div>
    </div>
  </div>
</div>


